body{
    background-color: #FFFFFE;
    color: #272343;
    /* padding-left: 24px;
    padding-right: 24px; */
}
.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.back{
    width: 35px;
    margin-bottom: -60px;
    margin-left: 24px;
}

.circle_wrap{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 16px;
    align-items: center;
    .diffrent_circle{
        width: 30px;
        height: 30px;
        background-color: #E3F6F5;
        border-radius: 50%;
        
    }
    .circle{
        width: 18px;
        height: 18px;
        background-color: #E3F6F5;
        border-radius: 50%;
        text-align: center;
        
    }
}
.character{
    font-size: 16px;
    /* background-color: tomato; */
    margin-top: 25px;
    margin-left: 24px;
}
.change{
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
    background-color: #BAE8E8;
    width: 206px;
    height: 34px;
    border-radius: 20px;
    padding-top: 4px;
    padding-left: 0;
    margin-left: 100px;
    margin-bottom: 30px;
}
.wrap{
    background-color: #BAE8E8;
    border-radius: 20px;
    width: 382px;
    padding: 0 14px;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    overflow: visible;
    .which-character{
        text-align: center;
        /* background-color: tomato; */
        padding-top: 20px;
        padding-bottom: 23px;
    }
    ul{
        /* background-color: tomato; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding:0;
        gap: 28px;
        li{
            overflow: visible;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            margin: 0;
            list-style: none;
            width:163px;
            height: 144px;
            background-color: #FFFFFF;
            position: relative;
            img{
                flex-shrink: 0;
            }
            input{
                display: none;
            }
            label{
                width:100%;
                height:100%;
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                text-align:center;
                cursor:pointer;
                border-radius:20px;
                overflow: visible;
            }
        }
        input[type="radio"] + label{
            border: solid 1px tomato;
            border: none;
            width:163px;
            height: 144px;
        }
        input[type="radio"]:checked + label{
            border: solid 1px #FFE558;
            border-radius: 20px;
            
        }

        input[type="radio"]:checked + label::after{
            content: "";
            position: absolute;
            top: -10px;
            right: -10px;
            width: 40px;
            height: 40px;
            background: url("/images/check.png") no-repeat center;
            background-size: contain;
        }

    }
    /* .images_wrap{
        display: flex;
        /* background-color: tomato; */
        /* justify-content: space-between;
        flex-wrap: wrap; */
        /* gap: 26px;
        padding: 0 14px 14px; */
        /* margin-bottom: 30px; */
        /* .character_1{
            background-color: #FFFFFF;
            border-radius: 20px;
            padding: 10px 10px;
        } */
    } 
/* images-wrap{
    position: relative;
} */
.images-wrap{
    display: flex;
    margin-bottom: 20px;
}

.next{
    margin-left: 24px;
    font-size: 20px;
    background-color: #FFE558;
    border-radius: 20px;
    padding: 16px 160px;
    text-align: center;
    text-decoration: none;
    color: #272343; 
    box-shadow: #7b7b7b 0px 4px 4px 0px;
}
.images{
    width: 30px;
    position: absolute;
    right: 20px;
    /* background-color: tomato; */
    margin-right: 30px;
    margin-top: 15px;
}