body{
    background-color: #FFFFFE;
    color: #272343;
    /* padding-left: 24px;
    padding-right: 24px; */
}
.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.footer-wrap{
    background:#BAE8E8;
    height:90px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    text-align: center;
    .record{
        /* background-color: tomato; */
        padding-left: 10px;
        text-align: center;
        .word{
            margin-right: 7px;
        }
    }
}
.delete-icon{
    display:none;
    width: 37px;
    height:37px;
    position:absolute;
    right:20px;
    
}

.record-wrap.delete-mode .circle{
    visibility:hidden;
}

/* .record-wrap.delete-mode .circle{
    display:none;
} */

.record-wrap.delete-mode .delete-icon{
    display:block;
}
/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.do-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    margin-top: 80px;
    padding: 0 24px;
}

.do{
    font-size: 28px;
    color: #2D2855;
}

.do-wrap img{
    width: 54px;
    height: 40px;
    cursor: pointer;

}

.do-wrap img:last-child{
    width: 89px;
    height: auto;
    margin-left: -12px;
}


.record-wrap{
    width: 382px;
    height: 63px;
    background: #FFE266;
    padding-right: 24px;
    /* object-fit: contain;
    flex-shrink: 0; */
    /* background-color: tomato; */
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 18px;
    position: relative;
}

.record-wrap img{
    /* width: 30px; */
    height: 33px;
    /* margin-right: 20px; */
    /* flex-shrink: 0; */
    margin-left: 24px;
    
}

.word{
    font-size: 22px;
    color: #2D2855;
    font-weight: bold;
    flex: 1;
    text-align: center;
    margin-right: 0;
}


/* .circle{
    margin-left: auto;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
} */
.circle{
    margin-left: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
}

.circle.selected{
    background:white;
    position:relative;
}


.circle.selected::after{
    content:"✓";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-55%);
    font-size:30px;
    font-weight:bold;
    color: #000000;
}

.footer-wrap{
    /* margin-top: 42px; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #BAE8E8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.footer-wrap div{
    display:flex;
    flex-direction:column;
    align-items:center;
    color:#272343;
    a{
        text-decoration: none;
        .record-word{
            /* background-color: tomato; */
            margin-right: 3px;
            margin-left: -5px;
        }
    }
}

.footer-wrap img{
    width:38px;
    margin-bottom:4px;
}

.footer-wrap p{
    margin:0;
    font-size:14px;
    color: #272343;
}



.modal{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.modal.show{
    display: flex;
}


.modal-content{
    width: 382px;
    background: #E3F6F5;
    border-radius: 20px;
    padding: 29px 17px;
    text-align: center;
}

.modal-content p{
    font-size: 20px;
    color: #2D2855;
    margin-bottom: 25px;
}

.modal-btn{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.modal-btn button{
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: #7b7b7b 0px 4px 4px 0px;
}

#cancelBtn{
    background: #ddd;
}

#okBtn{
    background: #FFE266;
}


.sheet-bg{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.4);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 998;
}


.sheet-bg.show{
    opacity: 1;
    visibility: visible;
}

.bottom-sheet{
    position: fixed;
    left: 0;
    bottom: -420px;
    width: 100%;
    height: 430px;
    background: #BAE8E8;
    border-radius: 30px 30px 0 0;
    transition: .35s;
    z-index: 999;
    padding: 24px;
}


.bottom-sheet.show{
    bottom: 0;
}


.sheet-bar{
    width: 60px;
    height: 6px;
    background: #ccc;
    border-radius: 10px;
    margin: 0 auto 20px;
}

.sheet-title{
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    color: #272343;
    margin-bottom: 10px;
}

.sheet-input{
    width: 100%;
    height: 79px;
    background-color: #E3F6F5;
    border-radius: 15px;
    padding: 15px;
    font-size: 24px;
    margin-top: 30px;
}

.sheet-button{
    text-align: center;

}

.sheet-button button{
    width: 200px;
    height: 55px;
    margin-top: 60px;
    border: none;
    border-radius: 50px;
    background: #FFE266;
    font-size: 22px;
    box-shadow: #7b7b7b 0px 4px 4px 0px;
    color: #272343;
    cursor: pointer;
}
