body{
    background-color: #FFFFFE;
    color: #272343;
    padding-left: 24px;
    padding-right: 24px;
}
.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.circle_wrap{
    display: flex;
    justify-content: center;
    margin-top: 76px;
    gap: 16px;
    align-items: center;
    .diffrent_circle{
        width: 30px;
        height: 30px;
        background-color: #E3F6F5;
        border-radius: 50%;
        
    }
    .circle{
        width: 18px;
        height: 18px;
        background-color: #E3F6F5;
        border-radius: 50%;
        text-align: center;
        
    }
}
.character{
    font-size: 16px;
    /* background-color: tomato; */
    margin-top: 25px;
}
.change{
    font-size: 16px;
    margin-top: 40px;
    text-align: center;
    background-color: #BAE8E8;
    width: 206px;
    height: 34px;
    border-radius: 20px;
    padding-top: 7px;
    padding-left: 10px;
    margin-left: 65px;
}
.wrap{
    background-color: #BAE8E8;
    border-radius: 20px;
    .which-character{
        text-align: center;
        /* background-color: tomato; */
        padding-top: 20px;
        padding-bottom: 23px;
    }
    .images_wrap{
        display: flex;
        background-color: tomato;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 26px;
        padding: 0 14px 14px;
        margin-top: 50px;
        .character_1{
            background-color: blue;
            
        }
    }

}
