body{
    background-color: #FFFFFE;
    color: #272343;
    /* padding-left: 24px;
    padding-right: 24px; */
}
.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.header-wrap{
    background-color: #BAE8E8;
    width: 428px;
    height: 170px;
    
}