body{
    background-color: #FFFFFE;
    color: #272343;
    /* padding-left: 24px;
    padding-right: 24px; */
}
.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.circle_wrap{
    display: flex;
    justify-content: center;
    margin-top: 76px;
    gap: 28px;
    align-items: center;
    .diffrent_circle{
        width: 30px;
        height: 30px;
        background-color: #E3F6F5;
        border-radius: 50%;
        
    }
    .circle{
        width: 18px;
        height: 18px;
        background-color: #E3F6F5;
        border-radius: 50%;
        text-align: center;
        
    }
}
.function{
    font-size: 16px;
    margin-top: 30px;
    margin-left: 24px;
}
.choose{
    font-size: 16px;
    background-color: #BAE8E8;
    border-radius: 20px;
    width: 233px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 25px;
    margin-top: 38px;
}
.wrap{
    background-color: #BAE8E8;
    width: 380px;
    height: 440px;
    margin: 0 24px;
    margin-bottom: 67px;
    border-radius: 20px;
    
    .time{
        background-color: tomato;
        font-size: 20px;
        text-align: center;
        
    }
        ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding:0;
        gap: 28px;
        li{
            list-style: none;
            background-color: #FFFFFF;
            display: flex;
            justify-content: center;
            border-radius: 20px;
            width: 140px;
            height: 150px;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            padding: 0 14px;
            a{
                text-decoration: none;
                color: #272343;
            }
        }
        }

}

images-wrap{
    position: relative;
}

.next{
    margin-left: 24px;
    font-size: 20px;
    background-color: #FFE558;
    border-radius: 20px;
    padding: 16px 160px;
    text-align: center;
    text-decoration: none;
    color: #272343; 
    box-shadow: #7b7b7b 0px 4px 4px 0px;
}

.images{
    width: 30px;
    position: absolute;
    right: 20px;
    /* background-color: tomato; */
    margin-right: 30px;
}